body{
    margin: 0px auto;
}
.container{
    width: 100%;
    margin: 0 auto;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
ul{
    margin: 3px auto;
    padding: 2px 5px 0 0 ;
}
/* ini header */
header{
    padding: 0 auto;
    background-color:#7178ba;
}
.nav-box{
    margin: 0 30%;
    background-color: #7ec0ec;
    box-shadow: 2px 4px rgba(126, 132, 133, 0.863);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
}
.left img{
    height: 30px;
}
.right{
    display: flex;
    align-items: center;
}
.right li{
    display: inline;
}
.right img{
    height: 20px;
}
/* ini untuk foto dan deskripsi singkat */
body{
    background-color:  rgba(54, 64, 158, 0.7);
    font-family:  Helvetica;
}
.profile-box{
    padding: 1% 2%;
    margin: 5px 2%;
    border: solid 0px gray;
    border-radius: 15px;
    background-color: #68bbe3;
}
.profile-flex{
    display: flex;
    justify-content: space-between;
}
.profile-title{
    margin: 0 auto;
    text-align: center;
    width : 300px;
    border-bottom: solid 2px rgb(231, 223, 199)  ;
}
.profile-title h3{
    margin: 0%;
    font-weight: 400;
}
.content-profile{
    margin-left: 3%;
    text-align: justify;
    display: flex;
    align-items: center;
}
.profile-photo{
    display: flex;
    align-items: center;
}
.profile-photo img{
    height: 68px;
    border-radius: 20px;
}
/* ini untuk riwayat pendidikan */
.edu-box{
    padding: 1% 2%;
    margin: 5px 2%;
    background-color: #68bbe3;
    border: solid 0px gray;
    border-radius: 15px;
    
}
.edu-title{
    margin : 5px auto;
    width: 300px;
    text-align: center;
    text-decoration: none;
    border-bottom: solid 2px rgb(231, 223, 199) ;
    margin-bottom: 5px ;
}
.edu-title h3{
    margin: 0 auto;
    padding: 0 auto;
    font-weight: normal;
}
.edu-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.edu-content{
    width: 33.33%;
}
.edu-image{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.edu-image img{
    height: 68px;
    border-radius: 100%;
}
.school-desc{
    text-align: center;
    margin-top: 7px;
}
.school-desc h3{
    margin:  auto;
    font-size: 14px;
}
.school-desc p{
    margin: 0 auto;
    font-size: 12px;
}
